<%- include('./partials/header'); -%>
<link rel="stylesheet" href="css/sell.css">
<section class="container-sell">
    <div class="title">
        <h1>Novo Cadapio Da Semana</h1>
    </div>
    <form class="form-wrapper" action="seller/sell-now" method="post" enctype="multipart/form-data">
        <div class="wt-h mg-b product">
            <label class="form-label" for="data"><span>Data:</span></label>
            <input class="form-control wt-h" id="data" name="data" type="date" required autocomplete="off">
        </div>
        <div class="mg-b">
            <div class="wt-h product">
                <label class="form-label" for="category">p</label>
                <select class="form-select" name="category" id="category" required>
                    <option value="amoço">Amoço</option>
                    <option value="janta">Janta</option>
                </select>
            </div>
        </div>
        <div class="wt-h mg-b product">
            <label class="form-label" for="title"><span>Nome da Refeição:</span></label>
            <input class="form-control wt-h" id="title" name="title" type="text" required autocomplete="off">
        </div>
        <div class="wt-h mg-b product">
            <label class="form-label" for="description">Ingredintes:</label>
            <textarea class="description wt-h" name="description" id="description" cols="auto" rows="10" minlength="10"
                maxlength="250" required></textarea>
        </div>

      <hr style="height: .25rem; background-color: #000; margin: 1rem 0 1rem 0;">

        <div class="mg-b">
            <div class="wt-h product">
                <label class="form-label" for="category">p</label>
                <select class="form-select" name="category" id="category" required>
                    <option value="janta">Jantar</option>
                    <option value="amoço">Amoço</option>
                </select>
            </div>
        </div>
        <div class="wt-h mg-b product">
            <label class="form-label" for="title"><span>Nome da Refeição:</span></label>
            <input class="form-control wt-h" id="title" name="title" type="text" required autocomplete="off">
        </div>
        <div class="wt-h mg-b product">
            <label class="form-label" for="description">Ingredintes:</label>
            <textarea class="description wt-h" name="description" id="description" cols="auto" rows="10" minlength="10"
            maxlength="250" required></textarea>
        </div>
        <div class="wt-h mg-b product">
            <button class="btn wt-h" type="submit">Enviar</button>
        </div>
    </form>
</section>

<script defer src="js/seller.js"></script>
<%- include('./partials/footer'); %>