<link rel="stylesheet" href="css/index.css" />

<%-include("./partials/header")-%>
<div class="product-btn-links">
  <a class="btn" href="/cardapio">Todos Cardapios</a>
  <a class="btn" href="/admin">Adicione Novo Cardápio</a>
</div>
<%-include("./partials/reclame")-%> <%-include("./partials/footer") %>
