<link rel="stylesheet" href="css/register.css" />

<!-- navigation bar -->
<section id="title">
  <nav class="navbar color-navbar">
    <!-- site name -->
    <a class="nav-brand" href="/">RU DIGITAL</a>
  </nav>
</section>
<% try { %>

<% if (inform !== '') { %>
<div class="infor"><p><%= inform %></p> </div>
<% } %>
<% }catch (e) {} %>

<!-- Form start-->
<div class="signup-home">
  <main class="signup-header color-navbar">
    <div>Criar Conta</div>
  </main>
  <div class="signup-sec">
    <form action="signup" method="POST">
      <div class="input-sec">

        <div>Nome<small style="color:red">*</small></div>
        <input type="text" name="name" class="boxes" placeholder="Nome completo" required>

        <div>Nome de Usrío</div>
        <input type="text" name="username" class="boxes" placeholder="nome de usarío" autocomplete="username">

        <div>Email<small style="color:red">*</small></div>
        <input type="email" name="email" class="boxes" placeholder="eg@service.com" required autocomplete="email">


        <div>Codigo de Administrador</div>
        <input type="text" name="codigo" class="boxes" placeholder="Codigo de Administrador" >

        <div>Senha<small style="color:red">*</small></div>
        <input id="password" type="password" name="password" class="boxes" placeholder="Usa Senha"
          minlength="6" required autocomplete="new-password">

        <div>Confirma Usa Senha<small style="color:red">*</small></div>
        <input id="passwordconfirm" type="password" class="boxes" placeholder="Confirma Usa senha" required
          autocomplete="new-password">
      </div>

      
      <div class="signup-button">
        <button type="submit">cadastrar-se</button>
      </div>
    </form>

   
    <div class="login ">
      <p>já tem uma conta? <a href="/">Login</a></p>
    </div>
  </div>
</div>

<%- include('partials/footer') %>